<h5>Showing Media Content from:</h5><h6><%= @friendEmail %></h6>
<%= link_to 'Return', friends_path, class: "btn btn-outline-secondary" %>

<% if @media_to_show.length == 0 %>
  <p> No media content registered...</p>
<% else %>
  <% unless @media_to_show.length == 0 %>
    <div class="album py-5">
      <div class="container">
        <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
          <%= render 'mediaCard' %>
        </div>
      </div>
    </div>
  <% end %>
<% end %>


