<h2>[Group 29] Combine!</h2>
<br/>
<h4>Team Members:</h4>
<ul>
    <li>Jade Kaleel jik2124</li>
    <li>Donghan Kim dk3245</li>
    <li>Elia Lejzerowicz eel2157</li>
    <li>Tianyu Yang ty2467</li>
</ul>
<br/>
<h4>Pain Points:</h4>
<ul>
    <li>Many people watch shows/movies/listen to podcasts/play video games but the ways they can share what they are currently watching with the people in their lives is very limited
        <ul>
            <li>Either people have to wait until they speak with that person and the topic comes up or they have to make a post about it in an unrelated social media site</li>
        </ul>
    </li>
    <li>Not knowing which of your friends share your interests and passions can be very isolating</li>
</ul>
<br/>
<h4>Proposed Solution</h4>
<ul>
    <li>An application that allows people to share the movies/shows/other forms of media they’ve consumed recently, along with their opinions on it</li>
    <li>Each piece of media has several theme “tags” associated with it
        <ul>
            <li>Ex: documentary, horror, romcom, wildlife, dogs, RPG, classical, etc</li>
            <li>When a viewer watches something with enough of the same tags, that tag gets added to their profile as a way to display what interests they have</li>
            <li>The viewer can have the option of deciding whether a show they’ve watched should be associated with their profile or not
                <ul>
                    <li>If the viewer watched something and didn’t enjoy it, those tags won’t count towards their account</li>
                </ul>
            </li>
        </ul>
    </li>
    <li>The account can have several “stats” associated with it
        <ul>
            <li>Distribution of media
                <ul>
                    <li>Which percentage of what the user has watched is made up of podcasts, movies, and tv shows</li>
                </ul>
            </li>
            <li>Favorites / recommendations list
                <ul>
                    <li>This is a way for a user to let their friends know what media they enjoy the most</li>
                </ul>
            </li>
            <li>Recently watched list</li>
        </ul>
    </li>
    <li>This allows for several things
        <ul>
            <li>People to stay up to date with what media their friends enjoy</li>
            <li>A way for new shows/movies/etc to gain popularity since friends can influence each other when they watch something</li>
            <li>A new way for people to relate to one another</li>
            <li>No more asking someone what they’ve seen and them not remembering / only telling someone 1-2 of the new media you’ve consumed because you aren’t sure where their interests lie</li>
            <li>Can spark new conversations and connections once you realize someone you know is into ___ genre</li>
        </ul>
    </li>
    <li>Unique compared to other solutions:
        <ul>
            <li>The current applications that exist that show what shows a user have watched have several drawbacks
                <ul>
                    <li>Some are simply a list with no other information</li>
                    <li>Some are not social, the list is merely for personal information</li>
                    <li>The ones that are social don’t show information about the types of media consumed</li>
                </ul>
            </li>
        </ul>
    </li>
    <li>
        <a href="https://www.youtube.com/watch?v=lrEHjdMG3uo">Proposal Presentation (YouTube)</a>
    </li>
</ul>
<br/>
<br/>





